

.body-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line);
    padding-bottom: 40px;
}

.body-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-right: 75px;
}

.tool-col p {
    color: var(--text);
}

#palette-name {
    border: none;
    width: 100%;
    font-size: 32px;
    font-family: Gilroy-M;
    background-color: rgba(0, 0, 0, 0);
    color: var(--nav-link-icon);
    margin-left: 10px;
}

#palette-name:focus {
    outline: none;
}

.pencil-icon path{
    stroke: var(--nav-link-icon);
}

.body-top-right {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    background-color: #F92B67;
    width: 170px;
    padding: 15px 0px;
    border-radius: 10px;
    color: #fff;
    transition: 0.1s;
    border: none;
}

.button:hover {
    background-color: #e12b5f;
}

.button:active {
    background-color: #b01843;
}

.button p {
    font-family: Gilroy-M;
    font-size: 15px;
    color: var(--main-bg);
}

.button svg {
    width: 17px;
    height: 17px;
}

.button svg line{
    stroke: var(--main-bg);
}

.button.save {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #F92B67;
}

.button.save p {
    color: #F92B67;
}

.button.save svg path {
    stroke: #F92B67;
}

.button.save:active {
    border-color: #b01843;
}

.button.save:active p {
    color: #b01843;
}

.button.save:active svg path {
    stroke: #b01843;
}

.tool-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}

.tool-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.loader {
    display: none;
    margin-left: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid var(--second-text);
    border-left: 2px solid var(--second-text);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.4s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#theme-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    width: 170px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid var(--second-text);
    color: var(--second-text);
    background-color: var(--main-bg);
    transition: background-color 0.35s;
}


.color-palette-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1%;
}

.color-container {
    width: 19%;
    height: 550px;
    border: 1px solid var(--line);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.lock-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #fff;
    column-gap: 6px;
}

.lock-container p {
    font-size: 12px;
}

.color {
    border-radius: 10px 10px 0px 0px;
    height: 120%;
    width: 120%;
    position: absolute;
    z-index: 0;
    top: -7%;
    left: -7%;
    cursor: pointer;
}

.color-info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 0;
    border-top: 1px solid var(--line);
    transition: background-color 0.35s;
}

.color-info-row {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-key {
    color: var(--text);
}

.info-value {
    font-family: Gilroy-M;
    color: var(--second-text);
}

@media (max-width: 1080px) {

    .color-palette-container {
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
    }

    .color-container {
        width: 100%;
        height: 220px;
    }

    .color-info {
        height: 100%;
        width: 25%;
        left: auto;
        right: 0;
        justify-content: center;
        row-gap: 30px;
    }

    .lock-container {
        left: 10px;
        right: auto;
    }

    .info-value {
        text-align: center;
    }

    .color-info-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }

    .body-top-left {
        padding-right: 20px;
    }
}

@media (max-width: 900px) {
    .body-top-right {
        flex-direction: column;
        row-gap: 10px;
    }

    .body-top {
        align-items: start;
    }

    .body-top-left {
        margin-top: 5px;
    }

    .tool-container {
        align-items: end;
    }

    .tool-col {
        flex-direction: column;
        row-gap: 10px;
        align-items: end;
    }

    .tool-col.left {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 720px) {
    .body-top {
        flex-direction: column;
        row-gap: 20px;
    }

    .body-top-right {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    .tool-container {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .tool-col {
        width: 100%;
        align-items: start;
    }

    #theme-select {
        width: 100%;
    }

    .color-info {
        width: 45%;
    }
}